@model Pharmacy.Models.Address

@{
    ViewBag.Title = "Address Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}


<fieldset>

    <div class="display-label">AddressLine1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
    </div>

    <div class="display-label">AddressLine2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine2)
    </div>

    <div class="display-label">AddressLine3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine3)
    </div>

    <div class="display-label">Town</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label">County</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.County)
    </div>

    <div class="display-label">Postcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AddressId }, new { @class = "btn btn-warning active", role = "button" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-success active", role = "button" })
</p>
