@model ShopPoco

@{
    ViewBag.Title = "Edit Shop";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.ShopId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ShopName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShopName)
            @Html.ValidationMessageFor(model => model.ShopName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressId, "Address")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AddressId", String.Empty)
            @Html.ValidationMessageFor(model => model.AddressId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedOn)
            @Html.ValidationMessageFor(model => model.ModifiedOn)
        </div>

            <input type="submit" value="Save" class="btn btn-success active" />
             @Html.ActionLink("Back to List", "Index", "Shop", null, new { @class = "btn btn-primary", role = "button" })
    </fieldset>
}

