@model Pharmacy.dispensing.Models.CollectionsModel
@{
    ViewBag.Title = "Order sheets";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

	<form action="@Url.Action("PrintCollectionSheets", "Orders")" target="_blank" id="frm-print" method="post">								
        @Html.Partial("_Menu")
        <button id="btnPrint" class="btn btn-warning no-print" disabled="disabled">Print</button> 
    </form>

    <div class="make-switch pull-right  no-print">
        <label for="printed-scripts">show printed scripts</label>
	    <input type="checkbox" data-on="primary" data-off="info" id="printed-scripts" name="printed-scripts">
	</div>

     <span style="color:Red;">@TempData["senderror"]</span>
     
        @{ 
            
        var i=0;
        foreach (var practice in Model.PracticesWithScriptToCollect)
        {
            <table class="table table-bordered script-tables no-print">
            <thead>
            <tr class="no-print" data-practiceid="@practice.PracticeID">
                <th colspan="3"><h5>@practice.Practice</h5></th>
                <th class="no-print"></th>
                <th class="no-screen"></th>
                <th>Notes</th>
                <th class="no-print">Print? <a href="#" class="select-all" data-practiceid="@practice.PracticeID">all</a></th>
            </tr> 
            </thead>
            <tbody>
            @foreach (var script in practice.Scripts)
            { 
            <tr class="no-print" data-practiceid="@practice.PracticeID" data-orderid="@script.OrderID" data-printed="@(script.OrderStatus == 2 ? "false" : "true")">
                <td style="width:15%">@script.OrderDate.ToShortDateString()</td>
                <td style="width:20%">@script.Customer</td>
                <td style="width:30%">@script.CustomerAddress</td>
                <td style="width:5%" class="no-print">@script.NumItems items</td>
                <td style="width:5%" class="no-screen">
                @{
                    if (script.Items != null) {
                        foreach (var orderline in script.Items)
                        {
                            @Html.DisplayFor(o => orderline.Drug.DrugName) 
                            @Html.Raw("<br />")
                        }
                    }
                }
                </td>
                <td style="width:30%">@script.Notes</td>
                <td style="width:5%" class="no-print"><input type="checkbox" class="print-checkbox" id="chkPrint@script.OrderID" data-practiceid="@practice.PracticeID" data-orderid="@script.OrderID" name="chkPrint"/></td>
             </tr>
            }
            </tbody>
            </table>  
            }
        } 
         

      