@model  IEnumerable<Pharmacy.Models.Drug>

@{
    ViewBag.Title = "Drugs";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}


 <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" id="searchString" name="searchString"
                   value="@ViewData["currentFilter"]">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success active", role = "button" })
</form>


<table class="table table-bordered">
    <tr>
        <th>
            DrugName
        </th>
        <th>
            PackSize
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            ModifiedOn
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DrugId }, new { @class = "btn btn-primary btn-xs active", role = "button" }) 
            @Html.ActionLink("Details", "Details", new { id = item.DrugId }, new { @class = "btn btn-warning btn-xs active", role = "button" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.DrugId }, new { @class = "btn btn-danger btn-xs active", role = "button" })
        </td>
    </tr>
}

</table>
<p>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</p>

