@model Pharmacy.Models.Pocos.CustomerPoco

@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}


@using (Html.BeginForm("Edit", "AdminCustomer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div asp-validation-summary="All"></div>

        <input asp-for="CustomerId" type="hidden" />
        <input asp-for="AddressId" type="hidden" />
        <input asp-for="ShopId" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="CreatedOn" type="hidden" />

        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Email"></label>
            <div class="col-md-3">
                <input asp-for="Email" type="text" class="form-control" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Title"></label>
            <div class="col-md-1">
                <select asp-for="TitleId" class="form-control" asp-items="@(ViewBag.Titles)"></select>  
               <span asp-validation-for="TitleId">Please choose a title</span>
            </div>
            <div class="col-md-2">
                <input asp-for="Firstname" type="text" class="form-control" required />
                <span asp-validation-for="Firstname">Please enter the customers first name</span>
            </div>
            <div class="col-md-2">
                <input asp-for="Lastname" type="text" class="form-control" required />
                <span asp-validation-for="Lastname">Please enter the customers last name</span>
            </div>
        </div>

         <div class="form-group">
             <label class="col-md-3 control-label" asp-for="Sex"></label>
            <div class="col-md-1">
                <input asp-for="Sex" type="text" class="form-control" required />
                <span asp-validation-for="Sex">Please enter a customers gender</span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Mobile"></label>
            <div class="col-md-2">
                <input asp-for="Mobile" type="text" class="form-control" required />
                <span asp-validation-for="Mobile"></span>
            </div>
        </div>

         <div class="form-group">
             <label class="col-md-3 control-label" asp-for="Home"></label>
            <div class="col-md-2">
                <input asp-for="Home" type="text" class="form-control" required />
               <span asp-validation-for="Home"></span>
            </div>
        </div>
         
         <div class="form-group">
             <label class="col-md-3 control-label" asp-for="Dob"></label>
            <div class="col-md-2">
                <input asp-for="Dob" type="text" class="form-control" required />
                <span asp-validation-for="Dob"></span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Address"></label>
            <div class="col-md-2">
                <input asp-for="Address.AddressLine1" type="text" class="form-control" required />
                <input asp-for="Address.AddressLine2" type="text" class="form-control" required />
                <input asp-for="Address.AddressLine3" type="text" class="form-control" required />
                <input asp-for="Address.Postcode" type="text" class="form-control" required />
                @Html.ValidationMessageFor(model => model.AddressId)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Doctor"></label>
            <div class="col-md-2">
                <select asp-for="DoctorId" class="form-control" asp-items="@(ViewBag.Doctors)"></select>  
                <span asp-validation-for="DoctorId"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" asp-for="Active"></label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Active, null, new { @class = "form-control", required = "" })
                <span asp-validation-for="Active"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-3">
                <button class="btn btn-success active" type="submit">Save</button>
                @Html.ActionLink("Back to List", "Index", "AdminCustomer",  null, new { @class = "btn btn-primary", role = "button" })
            </div>
        </div>
    
}




